<div class="row">
  <div class="left">
    <img src="../../../assets/images/about/About-us.svg" alt="" />
  </div>

  <div class="right">
    <h2>About <span>us</span></h2>
    <h4>We provide quality coffee and are ready to deliver</h4>
    <p>
      We are a company that makes and distributes delicious drinks. Our main
      product is made with a secret recipe and available in stores worldwide.
    </p>
    <button 
      routerLink="/products"
      class="btn" 
      type="button">
      <strong>Get Your Coffee</strong>
      <div id="container-stars">
        <div id="stars"></div>
      </div>
    
      <div id="glow">
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </button>
  </div>
</div>
