<div class="container">
  <div class="hero">
    <div class="left-col">
      <h1>
        Enjoy your <span>coffee</span> <br />
        before your activity
      </h1>
      <p>
        Boost your productivity and build your <br />
        mood with a cup of coffee in the morning
      </p>
      <button routerLink="/products" class="heroBtn">
        Order Now
        <mat-icon class="cart-icon">shopping_cart</mat-icon>
      </button>
    </div>
    <div class="right-col">
      <img src="../../assets/images/home/img-hero.svg" alt="hero-img" />
    </div>
  </div>
</div>

