<html>

<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <footer class="footer">
        <div class="row">
            <div class="col">
                <img src="../../../../assets/images/home/logo_coffe.svg" alt="logo" class="logo">
                <p> We are a company that makes and distributes delicious drinks.
                    <br>Our main product is made with a secret recipe and available in stores worldwide
                </p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"><span></span></div>
                </h3>
                <p>Istanbul</p>
                <p>Bursa</p>
                <p class="email-id">info@outlook.com</p>
                <p> +90-538 684 2629</p>
            </div>
            <div class="col">
                <h3>Pages <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Coffee</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col">
                <h3>Follow us<div class="underline"><span></span></div>
                </h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Made by Eng.Abduallah @ 2022 All Rights Reserved</p>
    </footer>
</body>

</html>